@font-face {
    font-display: swap; 
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/philosopher-v19-latin-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap; 
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/philosopher-v19-latin-700.woff2') format('woff2');
  }
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/roboto-v30-latin-regular.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('/static/fonts/roboto-v30-latin-500.woff2') format('woff2'); 
  }
  .container{
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px 20px;
  }